Lightweight publish-subscribe application protocol/NODE-RED.txt
[{"id":"2c367569.bcb2f2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc7ebab4.2cbd6","type":"tcp in","z":"2c367569.bcb2f2","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"|","topic":"","base64":false,"x":290,"y":200,"wires":[["5a107929.9964e8"]]},{"id":"5a107929.9964e8","type":"function","z":"2c367569.bcb2f2","name":"Filtering","func":"if (msg.payload.startsWith(\" Received PUBLISH\")) {\n    return msg; // Pass the message along\n} else {\n    return null; // Ignore the message\n}","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["e14d4e9f.5af7d","d214c363.5744e","edb162c3.296d"]]},{"id":"e14d4e9f.5af7d","type":"function","z":"2c367569.bcb2f2","name":"Topic 1","func":"var matches = msg.payload.match(/topic 1 by PANC from node \\d+ with payload (\\d+)/);\nif (matches && matches.length === 2) {\n    var payload = parseInt(matches[1]);\n    msg.payload = payload;\n    return msg;\n}\nreturn null; // Ignore other messages\n","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["55585582.ddae8c"]]},{"id":"edb162c3.296d","type":"function","z":"2c367569.bcb2f2","name":"Topic 3","func":"var matches = msg.payload.match(/topic 3 by PANC from node \\d+ with payload (\\d+)/);\nif (matches && matches.length === 2) {\n    var payload = parseInt(matches[1]);\n    msg.payload = payload;\n    return msg;\n}\nreturn null; // Ignore other messages\n\n","outputs":1,"noerr":0,"x":700,"y":360,"wires":[["b13192f2.23dce"]]},{"id":"d214c363.5744e","type":"function","z":"2c367569.bcb2f2","name":"Topic 2","func":"var matches = msg.payload.match(/topic 2 by PANC from node \\d+ with payload (\\d+)/);\nif (matches && matches.length === 2) {\n    var payload = parseInt(matches[1]);\n    msg.payload = payload;\n    return msg;\n}\nreturn null; // Ignore other messages\n\n","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["ab83523.b59293"]]},{"id":"c36721e.3056a6","type":"mqtt out","z":"2c367569.bcb2f2","name":"","topic":"channels/2249507/publish","qos":"0","retain":"false","broker":"deb8d118.4331e","x":1470,"y":300,"wires":[]},{"id":"55585582.ddae8c","type":"function","z":"2c367569.bcb2f2","name":"Thingspeak Formatting 1","func":"payload = msg.payload;\nmsg.payload=\"field1=\"+payload+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["c36721e.3056a6","e2b00ce.a5b28f"]]},{"id":"b13192f2.23dce","type":"function","z":"2c367569.bcb2f2","name":"Thingspeak Formatting 3","func":"payload = msg.payload;\nmsg.payload=\"field3=\"+payload+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":909.3333740234375,"y":357.1666564941406,"wires":[["3533b314.f5d5d4","e2b00ce.a5b28f"]]},{"id":"ab83523.b59293","type":"function","z":"2c367569.bcb2f2","name":"Thingspeak Formatting 2","func":"payload = msg.payload;\nmsg.payload=\"field2=\"+payload+\"&status=MQTTPUBLISH\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":280,"wires":[["9ae224c0.d3e93","e2b00ce.a5b28f"]]},{"id":"e2b00ce.a5b28f","type":"debug","z":"2c367569.bcb2f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":80,"wires":[]},{"id":"9ae224c0.d3e93","type":"delay","z":"2c367569.bcb2f2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":300,"wires":[["c36721e.3056a6"]]},{"id":"3533b314.f5d5d4","type":"delay","z":"2c367569.bcb2f2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":380,"wires":[["c36721e.3056a6"]]},{"id":"deb8d118.4331e","type":"mqtt-broker","z":"","name":"MQTT 1","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"PC88FiEDCjoSDQ06EhMILyA","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
